<header>
  <div class="header-content">
    <div class="header-content-inner">
      <div class="row chooselang">
        <%= render :partial => 'chooselang' , :locals => { :lang => @lang }   %>
      </div>
    </div>
  </div>
</header>

