<div class="row card-shop row-centered">
  <%  2.times do |row| %>
    <div class="row card-row">
      <% 7.times do |col| %>
        <%if @p.offer[row][col] %>
          <%= render partial: 'card', :locals => { :card => @p.offer[row][col].last } %>
       <% end %>
     <% end %>
   </div>  
  <% end %>    
</div>
