<div class="row place row-centered">
  <div class="row placeholder" >
    <% 7.times do |place| %>
    <div class="card-holder">
       <%= render partial: 'card' , :locals => { :card => OfferCard.empty } %>
    </div>
  <%end %>
  </div>
</div>

