<div class="container ">
  <%= render partial: 'card_shop', :locals => { :p => @p } %>
  <%= render partial: 'card_placeholder' %>
  <%= render partial: 'row_hand', :locals => { :p => @p } %>
</div>


